* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #242424;

}

.signup-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;

}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #D7B26D; /* Harmonisé avec la palette */
}

label {
    margin-top: 10px;
    display: block;
    color: #D7B26D; /* Harmonisé avec la palette */
}


input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    margin-top: 5px;
    border: 1px solid #D7B26D;
    border-radius: 5px;
    box-sizing: border-box;

}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #D7B26D;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    box-sizing: border-box;

}

input[type="submit"]:hover {
    background-color: #cc9d45;
}

#error-msg {
    color: red;
    margin-top: 10px;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logout-btn {
    background-color: #a80600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
  background-color: #a80600;  
}

main {
    padding: 20px;
    text-align: center;
}

button,
input[type="submit"] {
    width: 100%;
    font-size: 10px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #D7B26D;
    border-radius: 10px;
    background-color: #242424;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.register-link {
    display: inline-block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.register-link:hover {
    text-decoration: underline;
}

.register-link2 {
    display: inline-block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.register-link2:hover {
    text-decoration: underline;
}

